<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspapp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- if any error occurs in any page (status=500), then forward it to /error.jsp -->
  <!-- 
  <error-page>
  	<error-code>500</error-code>
  	<location>/error.jsp</location>
  </error-page>
  -->
  
  <!-- if 404 error comes, forward to notfound.jsp -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/notfound.jsp</location>
  </error-page>
  
  <!-- Different error pages for different types of exceptions -->
  <!-- 
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error1.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.sql.SQLException</exception-type>
  	<location>/error2.jsp</location>
  </error-page>
  -->

</web-app>